{#<div class="wistia_embed wistia_async_6jvhsi9zwz" style="width:640px;height:360px;"></div>#}
{#<div "class my-video-class" style="width:50%;max-width:880px;min-height:495px;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 1px 7px 0 rgba(0, 0, 0, 0.15);">#}

{#<div style="width:50%;">#}
    <div class="wistia_responsive_padding">
        <div class="wistia_responsive_wrapper">
            <div class="{{ frontpage_video_id }}" style="height:100%;width:100%;">
            {#<div id="thumbnail_test" class="wistia_embed" style="height:100%;width:100%;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 1px 7px 0 rgba(0, 0, 0, 0.15);">#}
            {#<div class="wistia_embed wistia_async_247kulfafh" style="height:100%;width:100%;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 1px 7px 0 rgba(0, 0, 0, 0.15);">            #}
            </div>
        </div>
    </div>    
{#</div>#}
{#</div>#}
{#<div class="{{ frontpage_video_id }}" style="width:50%;height:50&;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 1px 7px 0 rgba(0, 0, 0, 0.15);"></div>#}


{#<p><a class="use-ajax" data-dialog-type="modal" href="http://develop2.kbox.site/node/34">Test modal link</a></p>#}

{#<div class="{{ video_id }}" style="display:inline-block; white-space:nowrap;">#}
    {#<a href="#">#}
        {#<img src="{{ thumb_url }}" alt="" />#}
    {#</a>#}
{#</div>#}