{#<div class="wistia_embed wistia_async_6jvhsi9zwz" style="width:640px;height:360px;"></div>#}

<div class="{{ frontpage_video_id }}" style="width:640px;height:360px;"></div>

<p><a class="use-ajax" data-dialog-type="modal" href="http://develop2.kbox.site/node/34">Test modal link</a></p>

{#<div class="{{ video_id }}" style="display:inline-block; white-space:nowrap;">#}
    {#<a href="#">#}
        {#<img src="{{ thumb_url }}" alt="" />#}
    {#</a>#}
{#</div>#}